#PACE: Start of PACE I/O Pin Assignments
NET "clk"  LOC = "P80" | IOSTANDARD = LVCMOS33 ;
NET "reset_n"  LOC = "P194" | IOSTANDARD = LVCMOS33  | PULLUP ;
NET "led_fifo_full_n"  LOC = "P94" | IOSTANDARD = LVCMOS33  | DRIVE = 12  | SLEW = SLOW  | PULLUP ; 
NET "O_AUDIO_L"  LOC = "P191" | IOSTANDARD = LVCMOS33  | DRIVE = 12  | SLEW = SLOW ; 
NET "O_AUDIO_R"  LOC = "P190" | IOSTANDARD = LVCMOS33  | DRIVE = 12  | SLEW = SLOW ; 
NET "rx"  LOC = "P185" | IOSTANDARD = LVCMOS33 ; 
NET "tx"  LOC = "P184" | IOSTANDARD = LVCMOS33  | DRIVE = 4  | SLEW = SLOW ; 

