//! **************************************************************************
// Written by: Map P.20131013 on Sun May 16 11:51:00 2021
//! **************************************************************************

SCHEMATIC START;
COMP "i_switch_1" LOCATE = SITE "P175" LEVEL 1;
COMP "i_switch_2" LOCATE = SITE "P168" LEVEL 1;
COMP "i_clock" LOCATE = SITE "P80" LEVEL 1;
COMP "o_led_drive" LOCATE = SITE "P94" LEVEL 1;
NET "i_clock_BUFGP/IBUFG" BEL "i_clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

